@import "tailwindcss";

@theme {
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
  --color-primary: #1a1a2e;
  --color-accent: #FFD60A;
  --color-purple: #6a4c93;
  --color-charcoal: #333333;
}
